/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*kajori added */

:root{ 
	--color1: #355070;
	--color2: #6D597A;
	--color3: #B56576;
	--color4: #E56B6F;
	--color5: #EAAC8B;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    display: flex;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
    align-items: center;
    justify-content: center;
  	padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #B44C62;
    
}

.container{
    width: 180vh;
	height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
	background: #fff;
	border-radius: 5vh;
	box-shadow: 10px 10px 5px #6D597A;

}
